div.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
}

.jodit-workplace {
    min-height: 400px !important;
}

div.form-check {
    padding-left: 0 !important;
}

div.form-check > div {
    padding-left: 25px !important;
}
